@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

li {
  font-family: Arial;
}

#ingredients li { 
  font-family: Arial;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 45px;
  color: #c74a10;
   
}

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

p {
  font-family: Arial;
  color: pink;
}

#grill {
  color: red;
}